<ul class="inline-list">
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to 'Products', products_path %></li>
  <li><%= link_to 'Categories', categories_path %></li>
  <li><%= link_to 'States', states_path %></li>
</ul>