<h4>Categories</h4>
<ul>
  <%= render partial: 'layouts/shared/item', collection: Category.roots, as: :item %>
</ul>

<h4>States</h4>
<ul>
  <%= render partial: 'layouts/shared/item', collection: State.all, as: :item %>
</ul>

