<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
  </tr>

<% @states.each do |state| %>
  <tr>
    <td><%= link_to state.title, state %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New State', new_state_path %>
